#include <cstdint>

#pragma pack(push, 1)
struct {{.Name}}
{
    {{range $index, $element := .Members -}}{{.Type}} {{.Name}}; // {{.Offset}} {{.Comment}}{{end}}
};
static_assert(sizeof({{.Name}}) == {{.Size}}, "{{.Name}} does not have a size of {{.Size}}.");
static_assert(sizeof({{.Name}}) <= {{.Size}}, "{{.Name}}'s size is higher than {{.Size}}.");
static_assert(sizeof({{.Name}}) >= {{.Size}}, "{{.Name}}'s size is lower than {{.Size}}.");
#pragma pack(pop)